<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Project Management - makeMybiz Customer</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="../css/adminx.css" media="screen" />

    <!-- this is only relevant for the demo -->
    <link rel="stylesheet" href="../demo/demo.css">
  </head>
  <body>
    <div class="adminx-container">
      <%- include("../partials/header.ejs")%>

      <!-- expand-hover push -->
      <!-- Sidebar -->
     
      <!-- Sidebar End -->
      <%- include("../partials/customer-dashboard.ejs")%>
    
      <!-- Sidebar End -->

      <!-- Main Content -->
      <div class="adminx-content">
        <div class="adminx-main-content">
          <div class="container-fluid">
            <!-- BreadCrumb -->
            <nav aria-label="breadcrumb" role="navigation">
              <ol class="breadcrumb adminx-page-breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Customer</a></li>
                <li class="breadcrumb-item active  aria-current="page">Project Details</li>
              </ol>
            </nav>

          

            <div class="row">
              <div class="col">
                <div class="card mb-grid">
                  <div class="card-header d-flex justify-content-between align-items-center">
                    <div class="card-header-title">Project Details</div>
                  </div>
                  <div class="table-responsive-md">
                    <table class="table table-actions table-striped table-hover mb-0">
                     
                      <div class="p-5">
                        <!--<h4>Detail of Project  (<%=result.projectName%>)</h4>-->
                        <div class="row">
    <div class="col-md-6">
     <div class="mt-4">
                          <h5><b>Project Name</b> :  <%=result.projectName%></h5>
                         
                        </div>

                        <div class="mt-4">
                          <h5><b>Project Basic Cost</b> :  <%=result.projectBasicCost%></h5>
                         
                        </div>

                        <div class="mt-4">
                          <h5><b>GST</b> :  <%=result.gst%></h5>
                        
                        </div>

                        <div class="mt-4">
                          <h5><b>Net Payable Amount</b> : <%=result.paybleAmount%></h5>
                         
                        </div>

                        <div class="mt-4">
                          <h5><b>Advance Payment </b> :  <%=result.advancePayment%></h5>
                         
                        </div>
                         <div class="mt-4">
                          <h5><b>Invoice</b> : <a href="../upload-pdf/<%=result.invoice%>"><button  class="p-3 mb-2 bg-primary text-white">View Invoice </button></a>
                         
                        </div>
    </div>
    <div class="col-md-6">
    <div class="mt-4">
                          <h5><b>Balance Payment</b> :   <%=result.balancePayment%></h5>
                         
                        </div>

                        <div class="mt-4">
                          <h5><b>Domain Name</b> :  <%=result.domain%></h5>
                         
                        </div>

                        <div class="mt-4">
                          <h5><b>Project Status</b> : <%=result.projectStatus%></h5>
                         
                        </div>

                        <div class="mt-4">
                          <h5><b>Remark</b> :  <%=result.Remark%></h5>
                         
                        </div>

                        <div class="mt-4">
                          <h5><b>Project Start Date</b> :  <%=result.projectStart%></h5>
                         
                        </div>

                        <div class="mt-4">
                          <h5><b>Project End Date</b> : <%=result.projectEnd%></h5>
                          
                        </div>
                        
    </div>
</div>
                       

                        

                      

                      </div>
                       
                     
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- // Main Content -->
    </div>

    <!-- If you prefer jQuery these are the required scripts -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
    <script src="../js/vendor.js"></script>
    <script src="../js/adminx.js"></script>

    <!-- If you prefer vanilla JS these are the only required scripts -->
    <!-- script src="../dist/js/vendor.js"></script>
    <script src="../dist/js/adminx.vanilla.js"></script-->
  </body>
</html>